<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="icon" href="data:,">
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <title>Flack</title>
    </head>

    <body>
      <script type="text/javascript" src="{{ url_for('static', filename='check.js') }}"></script>

      <div class="container pt-3">
        <h1>Flack</h1>
        <h6 id="name"></h6>
        <p>Join a chat room to begin chatting...or make your own!</p>
        <button id="logout">Logout</button>
        <hr>
      </div>

      <div class="container pt-3">
        <h5 id="currentChannel"></h5>
        <!-- <select class="form-control" name="availablechannels">
            {% for channel in channels %}
                <option value="{{ channel.name }}">{{ channel.name }}</option>
            {% endfor %}
        </select> -->
        <ul id="messages"></ul>
        <form id="new-message">
            <input id="message" autocomplete="off" autofocus placeholder="New Message" type="text">
            <input id="submit" type="submit">
        </form>
        <hr>
      </div>

      <div class="container pt-3">
        <h5>Online Users:</h5>
        <ul id="online-users"></ul>
      </div>

      <script type="text/javascript" src="{{ url_for('static', filename='page.js') }}"></script>
    </body>
</html>
