{% extends "layout.html" %}

{% block headertitle %}
  Books on ReviewBook
{% endblock %}

{% block bodytitle %}
  Books on ReviewBook
{% endblock %}

{% block body %}
  <div class="container pb-4">
    <h6>Search database for books:</h6>
      <form action="{{ url_for('search') }}" method="post">
          <input type="text" placeholder="Title, Author, or ISBN" name="bookinfo">
          <button>Search</button>
      </form>
      <div><a href = "/book">See all books</a></div>
  </div>

  <div class="container pb-4">
    <h6>Total Books: {{ numresults }}</h6>
    <ul>
      {% for result in results %}
        <li><a href="{{ url_for('book', isbn=result.isbn) }}">{{ result.isbn }}, {{ result.title }}, {{ result.author }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block footer %}
  <div><a href = "/">Return to Home</a></div>
{% endblock %}
