{% extends "layout.html" %}

{% block headertitle %}
  Book Info
{% endblock %}

{% block bodytitle %}
  Book
{% endblock %}

{% block body %}
  <div class="container pb-4">
    <h6>Search database for books:</h6>
      <form action="{{ url_for('search') }}" method="post">
          <input type="text" placeholder="Title, Author, or ISBN" name="bookinfo">
          <button>Search</button>
      </form>
      <div><a href = "/book">See all books</a></div>
  </div>
  <div class="container pb-3">
    <h6>Information:</h6>
    <ul>
      <li>Title: {{ booktitle }}
      <li>Author: {{ bookauthor }}</li>
      <li>Year: {{ bookyear }}</li>
      <li>ISBN: {{ bookisbn }}</li>
      <li>GoodReads Average Rating: {{ goodreadsrating }}
      <li>Number of Reviews on GoodReads: {{ goodreadsnumreview }}
    </ul>
  </div>
  <div class="container pb-3">
    <h6>{{ username }}'s review on ReviewBook:</h6>
    {% if userevaluated %}
      {% for result in results %}
      <ul>
        <li>Rating: {{ result.rating }}/5</li>
        <li>Review: {{ result.review }}</li>
      </ul>
      {% endfor %}
    {% else %}
        <form action="{{ url_for('attemptreview') }}" method="post">
          <ul>
            <li>
              <h6>Rating</h6>
              <select type="text" name="userrating">
                <option value=1>1 Star</option>
                <option value=2>2 Stars</option>
                <option value=3>3 Stars</option>
                <option value=4>4 Stars</option>
                <option value=5>5 Stars</option>
              </select>
            </li>
            <li>
              <h6>Review:</h6>
              <textarea type="text" placeholder="Comments" name="userreview" rows="5" cols="50"></textarea>
              <div>
                <button>Submit</button>
              </div>
            </li>
          </ul>
        </form>
    {% endif %}
  </div>
  <div class="container pb-3">
    <h6>{{ numreviews }} reviews with an average rating of {{ averagerating }} on ReviewBook for "{{ booktitle }}":</h6>
      <ul>
        {% for result in totalresults %}
        <li>{{ result.name }}:  "{{ result.review }}" - {{ result.rating }}/5</li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}
