{% extends "layout.html" %}

{% block headertitle %}
  Home
{% endblock %}

{% block bodytitle %}
  Home
{% endblock %}

{% block body %}
<div>
  <h6>Search database for books:</h6>
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" placeholder="Title, Author, or ISBN" name="bookinfo">
        <button>Search</button>
    </form>
</div>
<div><a href = "/book">See all books</a></div>
  <div>
    <h6>Books reviewed by you:</h6>
  </div>
{% endblock %}
