{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block bodytitle %}
  Success!
{% endblock %}

{% block body %}
  <div class="container pb-4">
    {{ message }}
    {% if newuser %}
      <div><a href = "/">Click here to go to your new home page.</a></div>
    {% elif tobook %}
      <div><a href = "/book">Click here to go to back to the book search.</a></div>
    {% else %}
      <div><a href = "/">Return to home page.</a></div>
    {% endif %}
  </div>
{% endblock %}
