.grid {
        background-color: grey;
        display: grid;
        padding: 20px;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.index-item {
  padding: 10px;
  text-align: center;
}
